
<center>

<div style="background-color: tomato" class="p-3 text-white"><h1> BIENVENUE SUR MA PAGE</h1></div>

<br>
<br>
<p>Je souhaite créer mon compte > <%= link_to "Cliquez-ici", about_me_path %> </br>
</center>

